* {
    box-sizing: border-box;
    font-family: RobotoRegular;
}

body {
    height: 100vh;
    margin: 0;
    background: #FEFEFE;
}

title {
    display: none;
}

div, input, ul, li, header, a, h1, h2, h3, button, section {
    display: flex;
}

input:focus {
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.app-wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    color: #EEEEEE;

    background: #FB8C00;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

}

button:focus{
    outline: none;
}

.app-title{
    font-family: RobotoLight;
    font-weight: 400;

    margin:0;
    padding: 15px 0 15px 20px;
}

.add-button{
    width: 70px;
    justify-content: center;
    padding: 0;

    border: none;
    background: none;
    margin-left: auto;

    color: #EEE;
    font-family: RobotoThin;
    font-weight: 100;
    font-size: 48px;

    transition: 0.2s all;
}

.add-button:hover{
    cursor: pointer;
    background: #F57C00;
}

.stopwatch-list{
    max-width: 1200px;
    width: 100%;
}

.stopwatch-list-item{
    max-width: 800px;
    width: 100%;

    padding: 15px 30px;
    margin-bottom: 20px;

    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    border-radius: 5px;
    align-items: center;
}

.stopwatch-title{
    width: 100%;
    margin-right: 150px;
    font-size: 18px;
    cursor: pointer;
}

.stopwatch-timer{
    height: 35px;
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;

    border: 1px #EEEEEE solid;
    border-radius: 3px;
}

.stopwatch-button{
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 10px;
    font-family: RobotoLight;
    font-size: 18px;

    box-shadow: 0 1px 5px rgba(0,0,0,.26);

    color: #fff;
    cursor: pointer;

    transition: 0.2s all;
}


.stopwatch-start{
    background: #66BB6A;
}

.stopwatch-start:hover{
    background: #43A047;
}

.stopwatch-stop{
    background: #F44336;
}

.stopwatch-stop:hover{
    background: #D32F2F;
}

.stopwatch-delete{
    color: #E65100;

    font-family: RobotoBold;
    font-size: 24px;
    margin-left: 100px;
}

.stopwatch-delete:hover{
    cursor: pointer;
}


/*
================================
            FONTS
================================
*/

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}